#@ load("@ytt:data", "data")
#@ load("@ytt:base64", "base64")
---
apiVersion: v1
data:
  API_KEY: #@ base64.encode(data.values.vrlic_api_token)
kind: Secret
metadata:
  creationTimestamp: null
  name: vrlic-api-token
  namespace: kube-system

---
#@   combined = data.values.docker_user+":"+data.values.docker_pass
#@   bas64auth = base64.encode(combined)
#@   dockerconfig = "{\"auths\":{\"https://index.docker.io/v2/\":{\"username\":\""+data.values.docker_user+"\",\"password\":\""+data.values.docker_pass+"\",\"auth\":\""+bas64auth+"\"}}}"

apiVersion: v1
data:
  .dockerconfigjson: #@ base64.encode(dockerconfig)
kind: Secret
metadata:
  creationTimestamp: null
  name: dockerhub
  namespace: argocd
type: kubernetes.io/dockerconfigjson